<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}'s Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
      .answer {
        white-space: pre-line;
        padding: 0.5em 0;
        border-bottom: 1px dashed gray;
      }
      .answer:nth-child(even){
        background-color: #f9f9f9;
      }
    </style>
  </head>
  <body>
    <h3>{{ name }}'s Page</h3>
    <form name="answer" method="POST" action="/.netlify/functions/save_answer">
      <textarea id="answer" name="answer" rows="3" placeholder="Type your answer here…" required="required"></textarea>
      <fieldset>
        <legend>Send it to</legend>
          <input type="radio" id="Andrew" name="who" value="Andrew"><label for="Andrew">Andrew{% if name=="Andrew" %} (me){% endif %}</label><br />
          <input type="radio" id="Anthony" name="who" value="Anthony"><label for="Anthony">Anthony{% if name=="Anthony" %} (me){% endif %}</label><br />
          <input type="radio" id="Clare" name="who" value="Clare"><label for="Clare">Clare{% if name=="Clare" %} (me){% endif %}</label><br />
          <input type="radio" id="Julia" name="who" value="Julia"><label for="Julia">Julia{% if name=="Julia" %} (me){% endif %}</label><br />
          <input type="radio" id="Katie" name="who" value="Katie"><label for="Katie">Katie{% if name=="Katie" %} (me){% endif %}</label><br />
          <input type="radio" id="Mike" name="who" value="Mike"><label for="Mike">Mike{% if name=="Mike" %} (me){% endif %}</label><br />
      </fieldset>
      <input type="hidden" name="postedBy" value="{{ name }}"/>
      <button type="submit">Send answer</button>
    </form>

    <div id="app">
      <h3 v-if="this.message.length != 0">Answers</h3>
      <div v-for="item in message" class="answer">{% raw %}{{ item.answer }}{% endraw %}</div>
      {% if name=="Anthony" %}
        <img v-if="this.message.length == 5" src="https://static.hotoldermale.com/_thumbs/scn_283_7f4769237566df0699a417e77cd497b6.jpg" />
      {% elif name=="Andrew" %}
        <img v-if="this.message.length == 3" src="https://static.hotoldermale.com/_thumbs/scn_283_7f4769237566df0699a417e77cd497b6.jpg" />
      {% endif %}
    </div>
    <p id="cat" style="text-align: center; font-size: 3em;">
      {% if name=="Andrew" %}
        🕺
      {% elif name=="Clare" %}
        🧘‍♀️
      {% elif name=="Katie" %}
        🥂
      {% elif name=="Julia" %}
        🦔
      {% elif name=="Anthony" %}
        😎
      {% else %}
        💜
      {% endif %}
    </p>

    <script>
      var app = new Vue({
        el: '#app',
        data () {
	        return {
		        message: null
	        }
        },
        methods: {
          pollData () {
            setInterval(() => {
              fetch('/.netlify/functions/get_answer?for={{ name }}')
                .then((response) => {
                  return response.json();
                })
                .then((data) => {
                  this.message = data.sort(function(a, b) {
                    var keyA = new Date(a.createdat), keyB = new Date(b.createdat);
                    // Compare the 2 dates
                    if (keyA < keyB) return -1;
                    if (keyA > keyB) return 1;
                    return 0;
                  });
                });
            }, 3000)
          }
        },
        beforeDestroy () {
          clearInterval(this.polling)
        },
        created () {
          this.pollData()
        }
      })
    </script>
  </body>
</html>
